:root {
    --primary-color:  darkblue;
    --secondary-color: grey;
    --tertiary-color: rgb(30, 13, 179);
}

* {
  margin: 0;
  padding: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

body {
    color: var(--tertiary-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* Header and Nav Styles */

header {
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background-size: cover;
    background-attachment:fixed;
    background-position: 10%;
}

header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--primary-color);
}

header a {
    text-decoration: none;
    color: var(--primary-color);
}

header nav {
    margin: 7px 0;
  }
  
  header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
  }
  
  header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
  }
  
  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }

footer {
    background-color: var(--secondary-color);
}

section {
    padding: 60px;
  }

.hero {
    background-image: url('../Images/Morning\ Glorys\ Hero.jpg');
    background-attachment: fixed;
    background-position: auto;
}

.hero h2 {
  font-weight: bold;
    margin: 0;
    font-size: 24px;
    color: var(--primary-color);    
    float: right;
    background-color: var(--secondary-color);
}

.aboutMe {
  background-color: var(--secondary-color);
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}

.aboutMe h2 {
  font-weight: bold;
    margin: 0, 20px, 30, 200;
    font-size: 24px;
    color: var(--primary-color);
}

.aboutMe p {
  align-items: center;
}


.work {
  background-color: rgb(143, 231, 10);
}

.work h2 {
  font-weight: bold;
    margin: 0, 20px, 30, 200;
    font-size: 24px;
    color: var(--primary-color);
}

.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}
 
.project1 {
  width: 100%;
  justify-content: center;
  margin-bottom: 100px;
}

.project {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.project a {
  margin: 20px 30px;
}

.one {
  width: 500px;
  height: 309px;
  margin: auto;
  background-image: url('../Images/Horiseon\ Web\ Site.png');
  background-size: cover;
}

.text-block {
  width: 40%;
  height: 30%;
  background-color: var(--secondary-color);
  position: relative;
  top: 75%;
  left: 5%;
  color: var(--primary-color);
}

.two {
  background-image: url('../Images/andymcalpin.github.io_Bloodgate_.png');
  width: 250px;
  height: 154.5px;
  background-size: cover;
}

.three {
  background-image: url('../Images/stock-photo-2.jfif');
  width: 250px;
  height: 154.5px;
  background-size: cover;
}

.four {
  background-image: url('../Images/stock-photo-3.jfif');
  width: 250px;
  height: 154.5px;
  background-size: cover;
}

.five {
  background-image: url('../Images/stock-photo-4.jfif');
  width: 250px;
  height: 154.5px;
  background-size: cover;
}


.contactMe {
  background-color: var(--secondary-color);
}

.contactMe h2 {
  color: var(--primary-color);
}

address a {
  color: var(--tertiary-color)
}

/* Media Query for tablets */
@media screen and (max-width: 968px) {
  header nav ul li a {
    font-size: 2.2vw;
  }
  
}

/* Media Query for mobile phones */
@media screen and (max-width: 575px) {
  .one {
    width:auto ;
  }

  header nav ul li a {
    font-size: 5vw;
  }
  
}